.tabs {
  display: flex;
  padding: 28px 16px;
  box-shadow: var(--shadow-small);

  > * > * {
    margin: 6px;
  }

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    margin-right: auto;
  }

  .right {
    margin-left: auto;
  }
}
