.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content {
  min-width: 600px;
}

@media screen and (max-width: 800px) {
  .dialog-content {
    min-width: 0px;
  }
}
