<div>
  <app-tabs>
    <div tabs-left>
      <a routerLink="/" styled-link>
        <img src="assets/images/logo.png" alt="" />
      </a>
    </div>
    <div tabs-right>
      <a
        router-link="/app/joke/"
        (click)="routeToRandomJoke()"
        styled-link
        [class.active]="isRouteActive('app/joke/')"
        >Żarty</a
      >
      <a routerLink="/user/" styled-link routerLinkActive="active"
        >Moje żarty</a
      >
    </div>
  </app-tabs>
  <div class="router-wrapper">
    <router-outlet> </router-outlet>
  </div>
  <div class="loading" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <app-notifications></app-notifications>
</div>
