.jokes {
  display: flex;
  flex-wrap: wrap;
  .jokes-column {
    flex: 1 1 20em;
    display: flex;
    flex-direction: column;

    > * {
      margin-top: 1em;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}
